.gallery-container
{
    width: 100%;
}
.gallery-container img
{
    width: 180px;
    border: 1px solid lightgrey;
    transition: opacity 300ms ease-in-out;
    opacity: 0.7;

}
.gallery-container figure
{
    float: left;
    width: 180px;
    text-align: center;
    margin: 25px;
}
.gallery-container img:hover
{
    border: 1px solid black;
    opacity: 1.0;
}
a img
{
    padding: 3px;
    width: 180px;
    height: 180px;      
    object-fit: cover;  
    border: 1px solid lightgrey;
    transition: opacity 300ms ease-in-out;
    opacity: 0.7;

}
figcaption
{
    display: block;
    font-size: 0.9em;
    color: white;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
