table,
td,
th {
    border: 1px solid black;
    padding: 5px 10px;
    border-collapse: collapse;
}

th {
    background-color: goldenrod;
    color: white;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

table td:nth-child(1) {
    background-color: darkgrey;
    color: white;
}

table td {
    text-align: center;
    background-color: antiquewhite;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
}

table tr:hover {
    color: darkgoldenrod;
}

.table-container {
    width: 80%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    align-items: center;
    padding: 20px;
    line-height: 1.5em;
}

footer {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.75);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    color: #333;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 14px;
}